{% extends '..' %}

{% block title %}Allergene {{ allergene.nom }}{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 mb-3">Edition allergène</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" href="{{ path('show_admin_allergene') }}">
                Liste des allergènes
            </a>
        </div>
        <div class="card-body">
            {% include 'BACKOFFICE/allergene/_form.html.twig' with {'button_label': 'Mettre à jour', 'button_color': 'btn-outline-success'}  %}
        </div>
    </div>






{% endblock %}