{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="container my-3 my-md-4 my-lg-5 mx-auto ">

    <div class="row mt-lg-5 mt-sm-3">
        <div class="col-md-12 col-sm-12">

            <h1 class="text-center">A Propos de moi</h1>
            <div class="mt-lg-5 mt-sm-3">
            <p>Après 6 ans de formation en tant que médecin à l’université de Caen, je me suis spécialisée en nutrition en obtenant mon DESC de nutrition.
                Médecin nutritionniste spécialisée dans la prévention et la gestion des maladies liées à l'alimentation. Depuis plus de 15 ans,
                j'aide mes patients à atteindre leurs objectifs de santé en leur fournissant des conseils et des plans nutritionnels personnalisés.
            </p>
            <p>Ma passion pour la nutrition a commencé lorsque j'étais étudiant en médecine.
                J'ai vu de mes propres yeux l'impact que l'alimentation peut avoir sur la santé et j'ai décidé de me spécialiser dans ce domaine. Aujourd'hui,
                je suis fier d'aider mes patients à atteindre une vie plus saine grâce à une alimentation équilibrée et adaptée à leurs besoins individuels.
            </p>
            </div>

        </div>
    </div>


        <div class="row row mx-auto text-center mt-5">
            <div class="col mx-auto">

                <img src="{{ asset('images/paniers2.jpg') }}" width="400px" height="650px" alt="panier legume 2">

            </div>

        </div>

</div>

{% endblock %}
