{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>A Propos de moi</h1>
            <p>Après 6 ans de formation en tant que médecin à l’université de Caen, je me suis spécialisée en nutrition en obtenant mon DESC de nutrition.
            </p>


        </div>
    </div>

    <div>
        <div class="row">
            <div class="col"><img src="{{ asset('images/paniers2.jpg') }}" width="400px" height="650px alt="panier legume 2">

            </div>
            <div class="col"><img src="{{ asset('images/dieteticienne1.jpg') }}" width="400px" height="650px"  alt="Sandrine Coupart">

            </div>
            <div class="col"><img src="{{ asset('images/paniers3.jpg') }}" width="400px" height="650px alt="panier legume 3">

            </div>
        </div>
    </div>


{% endblock %}
