{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Mes Services</h1>
            <p>Ma consultation initiale est l'occasion pour moi de comprendre les objectifs de santé et les habitudes alimentaires de mes patients.
                Au cours de cette consultation, je réalise une évaluation complète de leur état de santé et de leur composition corporelle,
                ainsi qu'une analyse détaillée de leur régime alimentaire.
                Je fournis ensuite des recommandations personnalisées pour les aider à atteindre leurs objectifs de santé.
            </p>
            <p>Je propose également un suivi nutritionnel pour accompagner mes patients dans leur parcours vers une meilleure santé.
                Au cours des séances de suivi, je suis l'évolution de leur composition corporelle et de leurs habitudes alimentaires,
                et j'apporte des ajustements à leur plan nutritionnel si nécessaire.
                J'utilise également des outils de coaching pour aider mes patients à maintenir leur motivation et à surmonter les obstacles.
            </p>
            <p>Mon programme de perte de poids est conçu pour aider mes patients à perdre du poids de manière saine et durable.
                Le programme commence par une consultation initiale, suivie de séances de suivi régulières pour surveiller l'évolution de la composition corporelle
                et ajuster le plan nutritionnel en conséquence.
                J'utilise également des techniques de coaching pour aider mes patients à surmonter les défis liés à la perte de poids et à maintenir leur motivation.
            </p>
            <p>
                Enfin, je propose également des conférences et des ateliers pour les entreprises, les écoles et les communautés locales.
                Ces événements sont conçus pour sensibiliser le public aux bienfaits d'une alimentation saine et pour fournir des conseils pratiques pour adopter un mode de vie plus sain.
                J'aime partager mes connaissances avec les autres et je suis passionnée par l'éducation nutritionnelle.
            </p>


        </div>
    </div>

    <div>
        <div class="row">
            <div class="col"><img src="{{ asset('images/paniers2.jpg') }}" width="400px" height="650px alt="panier legume 2">

            </div>
            <div class="col"><img src="{{ asset('images/dieteticienne1.jpg') }}" width="400px" height="650px"  alt="Sandrine Coupart">

            </div>
            <div class="col"><img src="{{ asset('images/paniers3.jpg') }}" width="400px" height="650px alt="panier legume 3">

            </div>
        </div>
    </div>

{% endblock %}
