{% extends 'BACKOFFICE/admin.html.twig' %}

{% block title %}liste Patient{% endblock %}

{% block body %}

    <h2 class="text-center mt-5 mb-3">Ajout d'un patient</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" href="{{ path('show_admin_patient') }}">
                Liste des patients
            </a>
        </div>
        <div class="card-body">
            {{ include('BACKOFFICE/patient/_form.html.twig') }}
        </div>
    </div>

{% endblock %}