{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="container ">
        <h1>Mentions légales</h1>
        <h3>Éditeur du site</h3>
        <p>Nom : Sandrine Coupart
            Adresse : 10 rue du cabinet
            Téléphone : 06 06 06 06 06
            E-mail : sandrine@coupart.fr</p>
        <h3>Hébergeur du site</h3>
        <p>Nom : O2Switch
            Adresse : 2 rue Troupe 42000 Saint-Étienne
            Téléphone : 09 09 10 10 09
            E-mail :
        </p>
        <h3>Propriété intelelectuelle</h3>
        <p>Le contenu du site (textes, images, vidéos, etc.) est la propriété de Sandrine Coupart ou de ses partenaires.
            Toute reproduction ou utilisation sans autorisation est interdite.
        </p>
        <h3>Données personnelles</h3>
        <p>Les données personnelles collectées sur ce site sont destinées à Sandrine Coupart. Elles ne seront pas
            transmises à des tiers sans autorisation préalable de la personne concernée. Conformément à la loi
            "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et
            de suppression des données vous concernant.
            Pour exercer ce droit, vous pouvez contacter Sandrine Coupart à l'adresse suivante : sandrine@coupart.fr
        </p>
        <h3>Responsabilité</h3>
        <p>Sandrine Coupart ne peut être tenue responsable des dommages directs ou indirects causés au matériel de
            l'utilisateur lors de l'accès au site.
            De même, elle ne peut être tenue responsable de l'utilisation qui pourrait être faite des informations
            contenues sur le site.
        </p>
        <h3>Liens hypertextes</h3>
        <p>Le site peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet.
            Sandrine Coupart ne peut être tenue responsable du contenu de ces sites.
        </p>
        <h3>Droit applicable</h3>
        <p>Tout litige en relation avec l'utilisation du site est soumis au droit français.
            Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
    </div>
{% endblock %}
