{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block body %}
    <div class="container">
        <h1>RGPD (Règlement Général sur la Protection des Données)</h1>
        <p>Conformément au Règlement Général sur la Protection des Données (RGPD), Sandrine Coupart s'engage à protéger
            les données personnelles collectées sur son site.
            Les données personnelles sont toutes les informations se rapportant à une personne physique identifiée ou
            identifiable (nom, adresse, adresse e-mail, numéro de téléphone, etc.).
        </p>
        <h4>Finalité de la collecte de données</h4>
        <p>Les données personnelles collectées sur ce site sont destinées à permettre à Sandrine Coupart de vous
            contacter et de vous fournir les informations et
            les services que vous avez demandés.
            Elles peuvent également être utilisées à des fins statistiques pour améliorer le fonctionnement du site et
            la qualité de nos services.
        </p>
        <h4>Droits des utilisateurs</h4>
        <p>Conformément au RGPD, vous disposez d'un droit d'accès, de rectification, d'effacement, de limitation,
            d'opposition et de portabilité de vos données personnelles.
            Vous pouvez exercer ces droits en nous contactant à l'adresse suivante : sandrine@coupart.fr
        </p>
        <h4>Conservation des données</h4>
        <p>Les données personnelles collectées sur ce site sont conservées pendant une durée de 3 ans.
            Elles sont ensuite supprimées de nos bases de données.
        </p>
        <h4>Sécurité des données</h4>
        <p>Sandrine Coupart s'engage à mettre en place les mesures de sécurité nécessaires pour protéger les données
            personnelles collectées sur son site contre tout accès,
            utilisation, divulgation, altération ou destruction non autorisés.
        </p>
        <h4>Cookies</h4>
        <p>Ce site utilise des cookies pour améliorer votre expérience de navigation.
            Les cookies sont de petits fichiers texte stockés sur votre ordinateur ou votre appareil mobile qui
            permettent de vous identifier lorsque vous revenez sur le site.
            Vous pouvez désactiver l'utilisation de cookies en modifiant les paramètres de votre navigateur.
        </p>
        <h4>Réclamation auprès de l'autorité de contrôle</h4>
        <p>Si vous estimez que Sandrine Coupart ne respecte pas ses obligations en matière de protection des données,
            vous pouvez déposer une réclamation auprès de l'autorité de contrôle compétente.
            En France, l'autorité de contrôle est la CNIL (Commission Nationale de l'Informatique et des Libertés).
        </p>
    </div>
{% endblock %}
