{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-md-12">
                <h1>Accueil</h1>
                <p>Bienvenue sur le site de Sandrine Coupart, votre Médecin diététicienne et nutitionniste sur la ville de CAEN</p>
                <p>Afin de comprendre pourquoi et comment manger
                    sainement, je vous propose un programme que nous construirons ensemble.
                    N’hésitez plus, prennez <a href="{{ path('app_contact') }}"><input type="button" class="btn btn-site" value="rendez-vous ! "></a></p>

            </div>
        </div>

    <div>
        <div class="row">
            <div class="col"><img src="{{ asset('/images/paniers2.jpg') 
}}" width="400px" height="650px alt="panier legume 2">

            </div>
            <div class="col"><img src="{{ 
asset('/images/dieteticienne1.jpg') }}" width="400px" height="650px"  alt="Sandrine Coupart">

            </div>
            <div class="col"><img src="{{ asset('/images/paniers3.jpg') 
}}" width="400px" height="650px alt="panier legume 3">

            </div>
        </div>
    </div>



{% endblock %}
