{% extends 'backoffice/admin.html.twig' %}

{% block title %}Ingrédient {{ ingredient.nom }}{% endblock %}

{% block body %}
    <h2 class="text-center mt-5 mb-3">Edition ingrédient</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" href="{{ path('show_admin_ingredient') }}">
                Liste des ingrédients
            </a>
        </div>
        <div class="card-body">
            {% include 'backoffice/ingredient/_form.html.twig' with {'button_label': 'Mettre à jour', 'button_color': 'btn-outline-success'}  %}
        </div>
    </div>






{% endblock %}