{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Contact</h1>
            <p>Email : contact@nutrition.fr</p><br>
            <p>Tél : 06 06 06 06 06</p>


        </div>
    </div>

    <div>
        <div class="row">
            <div class="col"><img src="{{ asset('images/paniers2.jpg') }}" width="400px" height="650px alt="panier legume 2">

            </div>
            <div class="col"><img src="{{ asset('images/dieteticienne1.jpg') }}" width="400px" height="650px"  alt="Sandrine Coupart">

            </div>
            <div class="col"><img src="{{ asset('images/paniers3.jpg') }}" width="400px" height="650px alt="panier legume 3">

            </div>
        </div>
    </div>

{% endblock %}
