{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container my-3 my-md-4 my-lg-5 mx-auto ">
    <div class="row mt-lg-5 mt-sm-3">
        <div class="col-md-12 col-sm-12">
            <h1 class="text-center">Contact</h1>
            <div class="mt-lg-5 mt-sm-3 text-center">
            <p>Email : contact@nutrition.fr</p><br>
            <p>Tél : 06 06 06 06 06</p>
            </div>

        </div>
    </div>


        <div class="row row mx-auto text-center mt-5">

            <div class="col mx-auto">
                <img src="{{ asset('images/dieteticienne2.jpg') }}" width="400px" height="650px" alt="panier legume 3">

            </div>
        </div>

</div>
{% endblock %}
